<h1>All article tags</h1>
<ul>
    <% @tag.each do |tag| %>
        <li><%= link_to tag.name, tag_path(tag) %> <%= link_to 'Delete tag', tag_path(tag), method: :delete, data: {confirm: 'Really delete this tag?'}%></li>
    <% end %>
</ul>